body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.heading-container{
    text-align: center;
    color:brown;
    background: linear-gradient(to right,rgb(132, 0, 255),rgb(0, 128, 85));
}

.icon{
    width: 300px;
    height: 100px;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: lem;
    padding:10px;
    margin:0 auto;
    background: linear-gradient(to right,rgb(255, 0, 0),rgb(136, 255, 0));
}

.container{
    background-color:blue;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    width: 300px;

}


